@{
    Layout = "~/Views/Shared/_LayoutOfManage.cshtml";
    ViewData["Title"] = "商户管理";
}
<div class="contentRightBox">
    <input type="hidden" id="companyid" />
    <!--标题-->
    <div class="contentTitle">
        <p>
            <span>
                <img src="~/images/currmodal.png" />&nbsp;基础信息管理&nbsp;<img src="~/images/arrow_small.png" />
            </span>修改密码
        </p>
    </div>
    <!--按钮区域-->
    <div class="l_buttonnav">

        <a href="#" class="tfbtn" id="save" onclick="Save()">
            <span class="l-btn-left">
                <span>保存</span>
                <span><img src="~/images/ok.png" /></span>
            </span>
        </a>
    </div>

    <ul id="con">
        <li class="show">

            <div class="showBox">
                <div class="showBox_left">
                    商家名称：
                </div>
                <div class="showBox_right">
                    <input type="text" id="CompanyName" value="@ViewBag.CompanyName" disabled />
                </div>
            </div>

            <div class="showBox" id="ygmima">
                <div class="showBox_left">
                    用户名：
                </div>
                <div class="showBox_right">
                    <input type="text" id="username" value="@User.Identity.Name" disabled />
                </div>
            </div>
            <div class="showBox" id="ygmima">
                <div class="showBox_left">
                    登录密码：
                </div>
                <div class="showBox_right">
                    <input type="password" id="password" placeholder="请输入登录密码" />
                </div>
            </div>
            <div class="showBox">
                <div class="showBox_left">
                    确认密码：
                </div>
                <div class="showBox_right">
                    <input type="password" id="rpassword" placeholder="请输入确认密码" />
                </div>
            </div>

        </li>

    </ul>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/lib/layer/layer.js"></script>

    <script>

        function Checkin() {
            var str = '';

            //验证密码
            if ($('#password').val() != $('#rpassword').val()) {
                str += "两次输入的密码不一致！\n"
            } else if ($.trim($('#password').val()).length < 6 || $.trim($('#rpassword').val()).length < 6) {
                str += "请设置六位以上密码！\n"
                $('#password').focus();
            }

            if (str != '') {
                layer.msg(str, { icon: 2 });
                return false;
            } else {
                return true;
            }
        }
        function Save() {

            if (Checkin()) {
                $.ajax({
                    type: 'Post',
                    url: '/modifypassword',
                    dataType: 'json',
                    data: {
                        username: $("#username").val(),
                        password: $("#password").val()
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            
                            layer.msg("修改密码成功,即将跳转登录页。", {
                                time: 2000, icon: 1, end: function () {
                                    window.location.href = "/comlogin";
                                }
                            });
                        } else {
                            layer.msg("修改失败！", { icon: 2 });
                        }

                    }, error: function (error) {
                        layer.msg(error.status + error.statusText, { icon: 2 });

                    }

                })
            }
        }

    </script>
}