@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <title>打赏完之后</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/rjs.js"></script>
    <style>
        dl, dt {
            margin: 0;
        }

            dl dd {
                margin: 0;
            }

        * {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: "微软雅黑";
        }

        h1 {
            font-weight: normal;
            margin: 0;
        }

        p {
            margin: 0;
        }

        li {
            list-style: none;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        img {
            border: none;
            display: block;
        }

        a:hover {
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        .rewardAfter {
            background-color: #fff;
        }

        .rewardAfterBox {
            width: 100%;
            height: 26rem;
            position: absolute;
            top: 50%;
            margin-top: -13rem;
        }

        .rewardAfterContent {
            background-color: #fff;
            height: 26rem;
            padding-top: 2rem;
        }

            .rewardAfterContent img {
                width: 7rem;
                height: 7rem;
                margin: 2rem auto 1rem;
            }

            .rewardAfterContent h1 {
                text-align: center;
                font-size: 2rem;
                color: #333;
                margin-bottom: 3rem;
            }

            .rewardAfterContent p {
                text-align: center;
                font-size: 1.4rem;
                color: #626262;
            }
    </style>
</head>
<body class="rewardAfter">
    <div class="rewardAfterBox">
        <div class="container">
            <div class="rewardAfterContent">
                <img src="../images/dswczh.png" />
                <h1>全民打赏平台</h1>
                <p>感谢您对我的支持</p>
                <p>我会尽心为您服务</p>
            </div>
        </div>
    </div>
</body>
</html>