@{
    ViewData["Title"] = "主页";
}

<div style="background-color:#dbdbdb;min-height:600px">

</div>
<button onclick="ttt()">测试</button>

@section Scripts{
    <script src="~/js/PrototypeExtensions.js"></script>
    <script>

        function ttt() {

            var s = "1234567890";
            alert(s.contains("4563"))
        }
    </script>
}
