<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 通用业务平台管理</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("css", required: false)
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">通用业务平台</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="drop1" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                            基础维护
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">

                            <li role="presentation">
                                <a asp-area="" asp-controller="Management" asp-action="menus">菜单管理</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="management" asp-action="Roles">角色管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="drop1" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                            平台设计
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">

                            <li role="presentation">
                                <a asp-area="" asp-controller="Manage" asp-action="Filters">报表条件管理</a>
                            </li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="Manage" asp-action="GNFilter">报表设计</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="Manage" asp-action="Fields">单据条件管理</a>
                            </li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="Manage" asp-action="GNField">单据设计</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="Manage" asp-action="DataEdit">存储过程管理</a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="drop1" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">
                            权限管理
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation">
                                <a asp-area="" asp-controller="permission" asp-action="users">用户管理</a>
                            </li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="permission" asp-action="roles">角色管理</a>
                            </li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="permission" asp-action="permissions">权限管理</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="permission" asp-action="userrole">用户角色管理</a>
                            </li>
                            <li role="presentation">
                                <a asp-area="" asp-controller="permission" asp-action="rolepermission">角色权限管理</a>
                            </li>
                        </ul>            
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/ModifyPassword">当前用户：@User.Identity.Name</a></li>
                    <li role="presentation"><a href="/login">注销</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content" style="min-height:600px;">
        @RenderBody()
    </div>
    <hr />
    <footer style="text-align:center">
        <p>&copy; 2017 - 通用业务平台</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
