
@{
    ViewData["Title"] = "模块菜单管理";
    Layout = "_ManageLayout";
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <b style="font-size:1.3em">菜单</b>
            </div>
            <div class="panel-body" style="padding:1px;">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">编号</th>
                            <th>名称</th>
                            <th style="width:40px">选择</th>
                        </tr>
                    </thead>
                    <tbody id="menu_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b style="font-size:1.3em">单据模块</b></div>
            <div class="panel-body" style="padding:1px;">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">选择</th>
                            <th style="width:40px">编号</th>
                            <th>模块名称</th>
                        </tr>
                    </thead>
                    <tbody id="bill_module_tbody"></tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b style="font-size:1.3em">查询模块</b></div>
            <div class="panel-body" style="padding:1px;">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">选择</th>
                            <th style="width:40px">编号</th>
                            <th>模块名称</th>
                        </tr>
                    </thead>
                    <tbody id="query_module_tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><b style="font-size:1.3em">图表模块</b></div>
            <div class="panel-body" style="padding:1px;">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">选择</th>
                            <th style="width:40px">编号</th>
                            <th>模块名称</th>
                        </tr>
                    </thead>
                    <tbody id="chart_module_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:right">
        <button id="sava_but" class="btn btn-primary" disabled onclick="sava()" style="width:150px">保存</button>
    </div>
</div>

@section scripts {
    <script src="~/lib/icheck-1.x/icheck.js"></script>
    <script>
        //加载icheck
        function loadICheck() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            //绑定单选框选中时事件
            $('input[type=radio]').on('ifChecked', function (event) {
                $("#sava_but").removeAttr("disabled");
                $("input[type=checkbox]").iCheck('uncheck');
                QueryRoleByUserID($(this).val());
            });
        }
    </script>

}