
@{
    ViewData["Title"] = "菜单管理";
    Layout = "_ManageLayout";
}

<div class="row">
    <div class="panel panel-default" style="margin-bottom:-10px;">
        <div class="panel-heading">

            <h3 class="panel-title">菜单管理</h3>
        </div>
        <div class="panel-body">

            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-9">
                </div>
                <div class="col-md-3" style="text-align:right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">
                        添加
                    </button>
                </div>
            </div>


            <div class="row" style="margin-bottom:-10px;">
                <div class="col-md-12" id="menu-div">
                    <table class="table table-bordered table-hover  table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>菜单</th>
                                <th style="width:94px">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbdata">
                            <tr is="menu-row" v-for="menu in menus" v-bind:menu="menu"></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModiyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">修改菜单</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control" id="oldid" v-model="oldMenu.id" name="oldid" placeholder="编号">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control" id="oldname" name="oldname" v-model="oldMenu.name" placeholder="菜单">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="savaModify()">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"  id="addMenuBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">添加菜单</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <input type="text" class="form-control"  v-model="menuName" placeholder="菜单">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" v-on:click="savaMenu">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/x-template" id="menu-row-template">
        <tr v-bind:id="'tr_'+menu.id">
            <td>{{menu.id}}</td>
            <td>{{menu.name}}</td>
            <td>
                <button class="btn btn-xs btn-primary" style="margin-bottom:-5px;margin-top:-5px;" data-toggle="modal" data-target="#ModiyModal" v-on:click="modifyMenu()">
                    修改
                </button>
                <button class="btn btn-xs btn-danger" style="margin-bottom:-5px;margin-top:-5px;" v-on:click="deleteMenu()">
                    删除
                </button>
            </td>
        </tr>
    </script>

    <script>
        Vue.component("menu-row", {
            props: ["menu"],
            template: '#menu-row-template',
            methods: {
                modifyMenu: function () {
                    showModifyMenu(this.menu)
                },
                deleteMenu: function () {
                    deleteMenu(this.menu.id);
                }
            }
        })
        //修改
        var modiyMenuVue;
        function showModifyMenu(menu) {
            if (modiyMenuVue == null) {
                modiyMenuVue = new Vue({
                    el: "#modelbody",
                    data: {
                        oldMenu: menu
                    }
                })
            }
            else {
                modiyMenuVue.oldMenu = menu;
            }
        }
        //保存修改
        function savaModify() {
            $.post("/modifymenu", {
                id: modiyMenuVue.oldMenu.id,
                name: modiyMenuVue.oldMenu.name
            }, function (dataBack) {
                if (dataBack.result == 0) {
                    alert(dataBack.message);
                }                
                $("#ModiyModal").modal('hide')
            });
        }

        //查询全部主菜单
        $.get('/getmenus', {
        }, function (dataBack) {
            if (dataBack.result == 1) {
                new Vue({
                    el: "#menu-div",
                    data: { menus: dataBack.data }

                })
            } else {
                alert(dataBack.message);
            }
        })

        //删除菜单
        function deleteMenu(id) {
            if (confirm("你确定要删除ID为：" + id + "的记录吗？")) {
                $.post("/deletemenu", {
                    id: id
                }, function (dataBack) {
                    if (dataBack.result==1) {
                        $("#tr_" + id).remove();l
                    }
                    else {
                        alert(dataBack.message);
                    }
                    $("#ModiyModal").modal('hide')
                });
            }
        }

        //添加菜单
        var addVue = new Vue({
            el: "#addMenuBody",
            data: {
                menuName: ""
            },
            methods: {
                savaMenu: function () {               
                    $.post("/addmenu", {
                        name: this.menuName
                    }, function (dataBack) {
                        if (dataBack.result==0) {
                            alert("添加失败，请确认与服务器连接！");
                        }                      
                        window.location.href = "/menus";
                    });
                }
            }
        })      
    </script>


}