
@{
    ViewData["Title"] = "角色管理";
    Layout = "_ManageLayout";
}

<div class="row">
    <div class="panel panel-default" style="margin-bottom:-10px;">
        <div class="panel-heading">

            <h3 class="panel-title">角色管理</h3>
        </div>
        <div class="panel-body">

            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-9">
                </div>
                <div class="col-md-3" style="text-align:right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">
                        添加
                    </button>
                </div>
            </div>


            <div class="row" style="margin-bottom:-10px;">
                <div class="col-md-12" id="role-div">
                    <table class="table table-bordered table-hover  table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>角色</th>
                                <th style="width:94px">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbdata">
                            <tr is="role-row" v-for="role in roles" v-bind:role="role"></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModiyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        bzsm
        <div class="modal-content" id="modifyBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">修改角色</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control" v-model="oldRole.id" id="oldid" name="oldid" placeholder="编号">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control" id="oldrolename" v-model="oldRole.name" name="oldrolename" placeholder="角色">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" v-on:click="modify">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="addBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">添加角色</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <input type="text" class="form-control" v-model="roleName" id="rolename" name="rolename" placeholder="角色">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" v-on:click="sava">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/x-template" id="role-row-template">
        <tr v-bind:id="'tr_'+role.id">
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
            <td>
                <button class="btn btn-xs btn-primary" style="margin-bottom:-5px;margin-top:-5px;" data-toggle="modal" data-target="#ModiyModal" v-on:click="modify">
                    修改
                </button>
                <button class="btn btn-xs btn-danger" style="margin-bottom:-5px;margin-top:-5px;" v-on:click="remove">
                    删除
                </button>
            </td>
        </tr>
    </script>
    <script>

        //#region赋值修改数据
        var modiyVue;
        function showModify(role) {
            if (modiyVue == null) {
                modiyVue = new Vue({
                    el: "#modifyBody",
                    data: {
                        oldRole: role
                    },
                    methods: {
                        modify: function () {
                            modify(this.oldRole);
                        }
                    }
                })
            }
            else {
                modiyVue.oldRole = role;
            }
        }
        //#endregion

        //#region保存修改
        function modify(oldRole) {
            $.ajax({
                type: 'PUT',
                url: '/modifyrole',
                data: oldRole,
                success: function (dataBack) {
                    if (dataBack.result == 0) {
                        layer.alert(dataBack.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    } else {
                        $("#ModiyModal").modal('hide')
                    }
                },
                error: function (error) {
                    layer.alert(error.status + error.statusText, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
            });

        }
        //#endregion
        //#region查询全部角色
        $.ajax({
            type: 'GET',
            url: '/getroles',
            data: {
            },
            success: function (dataBack) {
                if (dataBack.result == 1) {
                    console.log(dataBack.data)
                    console.log(dataBack.data.length)
                    if (dataBack.data.length > 0) {
                        var item = dataBack.data[0];
                        var ssss = "<tr v-bind:id=\"'tr_'+ role.id\">";
                   
                        for (var pro in item) {
                            ssss += "<td>{{role." + pro + "}}</td>"
                        }

                        ssss += '<td><button class="btn btn-xs btn-primary" style="margin-bottom:-5px;margin-top:-5px;" data-toggle="modal" data-target="#ModiyModal" v-on:click="modify">修改</button><button class="btn btn-xs btn-danger" style="margin-bottom:-5px;margin-top:-5px;" v-on:click="remove">删除</button></td></tr>';
                    }

                    //#region表格行组件
                    Vue.component("role-row", {
                        props: ["role"],
                        template: ssss,
                        methods: {
                            modify: function () {
                                showModify(this.role)
                            },
                            remove: function () {
                                remove(this.role.id);
                            }
                        }
                    })
                    //#endregion
                    new Vue({
                        el: "#role-div",
                        data: { roles: dataBack.data }

                    })

                } else {
                    layer.alert(dataBack.message, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
            },
            error: function (error) {
                layer.alert(error.status + error.statusText, {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })
            }
        });

        //#endregion
        //#region删除角色
        function remove(id) {

            layer.confirm('你确定要删除ID为：' + id + '的记录吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: '/deleterole',
                    data: {
                        id: id
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            $("#tr_" + id).remove();
                            layer.msg('删除成功！', {
                                time: 2000
                            });
                        }
                        else {
                            layer.alert(dataBack.message, {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                        }
                    },
                    error: function (error) {
                        layer.alert(error.status + error.statusText, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    }
                });


            }, function () {
                //取消按钮
            });



        }
        //#endregion
        //#region添加角色
        var addVue = new Vue({
            el: "#addBody",
            data: {
                roleName: ""
            },
            methods: {
                sava: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/addrole',
                        data: {
                            name: this.roleName
                        },
                        success: function (dataBack) {
                            if (dataBack.result == 0) {
                                layer.alert(dataBack.message, {
                                    icon: 2,
                                    skin: 'layer-ext-moon'
                                })
                            } else {
                                window.location.href = "/roles";
                            }
                        },
                        error: function (error) {
                            layer.alert(error.status + error.statusText, {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                        }
                    });

                }
            }
        })
        //#endregion
    </script>
}