@{
    ViewData["Title"] = "用户角色管理";
    Layout = "_ManageLayout";
}
@section css{
    <link href="~/lib/icheck-1.x/skins/square/blue.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <b style="font-size:1.3em">用户</b>
            </div>
            <div class="panel-body" style="padding:1px;" id="userDiv">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">编号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th style="width:40px">选择</th>
                        </tr>
                    </thead>
                    <tbody id="user_tbody">
                        <tr is="user-row" v-for="user in users" v-bind:user="user"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b style="font-size:1.3em">角色</b></div>
            <div class="panel-body" style="padding:1px;" id="roleDiv">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">选择</th>
                            <th style="width:40px">编号</th>
                            <th>角色名称</th>
                        </tr>
                    </thead>
                    <tbody id="role_tbody">
                        <tr is="role-row" v-for="role in roles" v-bind:role="role"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:right">
        <button id="sava_but" class="btn btn-primary" disabled onclick="sava()" style="width:150px">保存</button>
    </div>
</div>
@section scripts {
    <script src="~/lib/icheck-1.x/icheck.js"></script>
    <script src="~/js/stickUp.js"></script>
    <script type="text/x-template" id="user-row-template">
        <tr>
            <td> {{user.id}}</td>
            <td> {{user.username}}</td>
            <td> {{user.name}}</td>
            <td style="text-align:center"><input type="radio" name="userRadio" v-bind:value="user.id" /></td>
        </tr>
    </script>
    <script type="text/x-template" id="role-row-template">  
        <tr>          
            <td style="text-align:center"><input type="checkbox" class="roleCheckbox" v-bind:value="role.id" /></td>
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
        </tr>
    </script>
    <script>

        $(function () {
            loadUsers();
            loadRoles();
          
        })
        //加载icheck
        function loadICheck() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            //绑定单选框选中时事件
            $('input[type=radio]').on('ifChecked', function (event) {
                $("#sava_but").removeAttr("disabled");
                $("input[type=checkbox]").iCheck('uncheck');
                QueryRoleByUserID($(this).val());
            });
        }
        //按角色ID查询权限
        function QueryRoleByUserID(userid) {
            $.get("/getrole", { userid: userid }, function (dataBack) {
                if (dataBack.result == 1) {
                    $(dataBack.data).each(function (index, ele) {
                        $("input[type=checkbox][value=" + ele.roleid + "]").iCheck('check');
                    })
                } else {
                    layer.alert(dataBack.message, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
            })
        }
        //保存用户角色
        function sava() {
            var userid = $(".iradio_square-blue.checked input").val();
            if ($(".icheckbox_square-blue.checked input").length == 0) {
                if (!confirm("本用户没有选角色，是否删除原有角色？")) {
                    //按用户ID查询角色
                    QueryRoleByUserID(userid);
                    return;
                }
            }

            var userRoleArr = [];
            $(".icheckbox_square-blue.checked input").each(function (index, ele) {
                var userRole = { userid: userid, roleid: parseInt($(ele).val()) }
                userRoleArr.push(userRole);
            })

            $.post("/savauserroles", { userid: userid, userroles: userRoleArr }, function (dataBack) {
                if (dataBack.result == 0) {
                    layer.alert(dataBack.message, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
            })

        }

        //查询用户
        function loadUsers() {
            Vue.component("user-row", {
                props: ["user"],
                template: '#user-row-template',
                methods: {                
                }
            })
            $.get("/getusers", {}, function (dataBack) {
                if (dataBack.result == 1) {
                    new Vue({
                        el: "#userDiv",
                        data: { users: dataBack.data }
                    })
                } else {
                    layer.alert(dataBack.message, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
                loadICheck();
            });
        }
        //查询角色
        function loadRoles() {
            Vue.component("role-row", {
                props: ["role"],
                template: '#role-row-template'
            })

            $.get("/getroles", {}, function (dataBack) {
                if (dataBack.result == 1) {
                    new Vue({
                        el: "#roleDiv",
                        data: { roles: dataBack.data }
                    })
                    loadICheck();
                } else {
                    layer.alert(dataBack.message, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
             
            });
        }



    </script>
}
