@{
    ViewData["Title"] = "用户角色管理";
    Layout = "_ManageLayout";
}
@section css{
    <link href="~/lib/icheck-1.x/skins/square/blue.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <b style="font-size:1.3em">用户</b>
            </div>
            <div class="panel-body" style="padding:1px;">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">编号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th style="width:40px">选择</th>
                        </tr>
                    </thead>
                    <tbody id="user_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b style="font-size:1.3em">角色</b></div>
            <div class="panel-body" style="padding:1px;">
                <table class="table table-bordered table-hover  table-condensed table-striped">
                    <thead>
                        <tr>
                            <th style="width:40px">选择</th>
                            <th style="width:40px">编号</th>
                            <th>角色名称</th>
                        </tr>
                    </thead>
                    <tbody id="role_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:right">
        <button id="sava_but" class="btn btn-primary" disabled onclick="sava()" style="width:150px">保存</button>
    </div>
</div>
@section scripts {
    <script src="~/lib/icheck-1.x/icheck.js"></script>
    <script src="~/js/stickUp.js"></script>
    <script>

        $(function () {
            loadUsers();
            loadRoles();
        })
        //加载icheck
        function loadICheck() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            //绑定单选框选中时事件
            $('input[type=radio]').on('ifChecked', function (event) {
                $("#sava_but").removeAttr("disabled");
                $("input[type=checkbox]").iCheck('uncheck');
                QueryRoleByUserID($(this).val());
            });
        }
        //按角色ID查询权限
        function QueryRoleByUserID(userid) {
            $.get("/getrole", { userid: userid }, function (dataBack) {
                if (dataBack.result == 1) {
                    $(dataBack.data).each(function (index, ele) {
                        $("input[type=checkbox][value=" + ele.roleid + "]").iCheck('check');
                    })
                } else {
                    alert(dataBack.message);
                }
            })
        }
        //保存用户角色
        function sava() {
            var userid = $(".iradio_square-blue.checked input").val();
            if ($(".icheckbox_square-blue.checked input").length == 0) {
                if (!confirm("本用户没有选角色，是否删除原有角色？")) {
                    //按用户ID查询角色
                    QueryRoleByUserID(userid);
                    return;
                }
            }

            var userRoleArr = [];
            $(".icheckbox_square-blue.checked input").each(function (index, ele) {
                var userRole = { userid:userid,roleid:parseInt($(ele).val()) }
                userRoleArr.push(userRole);
            })
   
            $.post("/savauserroles", { userid: userid, userroles: userRoleArr }, function (dataBack) {
                if (dataBack.result == 1) {
                    alert(dataBack.message)
                }
                else {
                    alert(dataBack.message);
                }
            })

        }
        //查询用户
        function loadUsers() {
            $.get("/getusers", {}, function (dataBack) {
                if (dataBack.result == 1) {
                    $("#user_tbody").html("");
                    $(result).each(function (index, ele) {
                        var trhtml = "<tr>";
                        trhtml += "<td>" + ele.id + "</td>";
                        trhtml += "<td>" + ele.username + "</td>";
                        trhtml += "<td>" + ele.name + "</td>";
                        trhtml += "<td style=\"text-align:center\"><input type=\"radio\" name=\"userRadio\" value=\"" + ele.id + "\"/></td>";
                        trhtml += "</tr>";
                        $("#user_tbody").append(trhtml);
                        loadICheck()

                    });
                } else {
                    alert(dataBack.message);

                }
            });
        }
        //查询角色
        function loadRoles() {
            $.get("/getroles", {}, function (dataBack) {
                if (dataBack.result == 1) {
                    $("#role_tbody").html("");
                    $(result).each(function (index, ele) {
                        var trhtml = "<tr>";
                        trhtml += "<td style=\"text-align:center\"><input type=\"checkbox\" class=\"roleCheckbox\" value=\"" + ele.id + "\"/></td>";
                        trhtml += "<td>" + ele.id + "</td>";
                        trhtml += "<td>" + ele.name + "</td>";
                        trhtml += "</tr>";
                        $("#role_tbody").append(trhtml);
                        loadICheck()
                    });
                } else {
                    alert(dataBack.message);
                }
            });
        }



    </script>
}
