
@{
    ViewData["Title"] = "用户管理";
    Layout = "_ManageLayout";
}

<div class="row">
    <div class="panel panel-default" style="margin-bottom:-10px;">
        <div class="panel-heading">
            <h3 class="panel-title">用户管理</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-7">
                </div>

                <div class="col-md-3">
                    <input type="text" class="form-control" id="queryname" name="queryname" placeholder="用户名、姓名">
                </div>
                <div class="col-md-1" style="text-align:right">
                    <button type="button" style="width:80px" class="btn btn-primary" onclick="queryUser()">
                        查找
                    </button>
                </div>
                <div class="col-md-1" style="text-align:right">
                    <button type="button" style="width:80px" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">
                        添加
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom:-10px;">
                <div class="col-md-12" id="user-div">
                    <table class="table table-bordered table-hover  table-condensed table-striped">
                        <thead>
                            <tr>
                                <th style="width:80px">编号</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>姓名</th>
                                <th style="width:94px">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbdata">
                            <tr is="user-row" v-for="user in users" v-bind:user="user"></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModiyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        bzsm
        <div class="modal-content" id="modifyBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">修改子类型</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control" v-model="olduser.id" id="oldid" name="oldid" placeholder="编号">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="olduser.name" id="oldname" name="oldname" placeholder="名称">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="olduser.username" id="oldusername" name="oldusername" placeholder="用户名">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="olduser.password" id="oldpassword" name="oldpassword" placeholder="密码">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" v-on:click="modify">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="addBody">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">添加用户</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="user.username" id="username" name="username" placeholder="用户名">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" v-model="user.password" id="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="user.name" id="name" name="name" placeholder="名称">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" v-on:click="sava">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("row-template",new string[] {"{{user.id}}","{{user.username}}","******","{{user.name}}" })
@section scripts {

    <script>
        //#region表格行组件
        Vue.component("user-row", {
            props: ["user"],
            template: '#user-row-template',
            methods: {
                modify: function () {
                    showModify(this.user)
                },
                remove: function () {
                    remove(this.user.id);
                }
            }
        })
        //#endregion
        //#region赋值修改数据
        var modiyVue;
        function showModify(user) {
            if (modiyVue == null) {
                modiyVue = new Vue({
                    el: "#modifyBody",
                    data: {
                        olduser: user
                    },
                    methods: {
                        modify: function () {
                            modify(this.olduser);
                        }
                    }
                })
            }
            else {
                modiyVue.olduser = user;
            }
        }
        //#endregion
        //#region保存修改
        function modify(user) {
            $.ajax({
                type: 'PUT',
                url: '/modifyuser',
                data: user,
                success: function (dataBack) {
                    if (dataBack.result == 0) {
                        layer.alert(dataBack.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    } else {
                        $("#ModiyModal").modal('hide')
                    }
                },
                error: function (error) {
                    layer.alert(error.status + error.statusText, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
            });

        }
        //#endregion
        //#region查询全部主菜单
        $(function () {
            queryUser()
        })

        var listVue;
        function queryUser() {
            $.ajax({
                type: 'GET',
                url: '/getusers',
                data: {
                    queryname: $("#queryname").val()
                },
                success: function (dataBack) {
                    console.log(dataBack.data)
                    if (dataBack.result == 1) {
                        if (listVue == null) {
                            listVue = new Vue({
                                el: "#user-div",
                                data: { users: dataBack.data },
                                computed: {
                                    newusers: function () {
                                        return dataBack.data;
                                    }
                                }
                            })
                        } else {
                            listVue.users = dataBack.data;
                            console.log(listVue.users)
                        }
                    } else {
                        layer.alert(dataBack.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    }
                },
                error: function (error) {
                    layer.alert(error.status + error.statusText, {
                        icon: 2,
                        skin: 'layer-ext-moon'
                    })
                }
            });
        }

        //#endregion
        //#region删除菜单
        function remove(id) {
            layer.confirm('你确定要删除ID为：' + id + '的记录吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: '/deleteuser',
                    data: {
                        id: id
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            queryUser();
                            layer.msg('删除成功！', {
                                time: 2000
                            });
                        }
                        else {
                            layer.alert(dataBack.message, {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                        }
                    },
                    error: function (error) {
                        layer.alert(error.status + error.statusText, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        })
                    }
                });

            }, function () {
                //取消按钮
            });
        }
        //#endregion
        //#region 添加菜单
        var addVue = new Vue({
            el: "#addBody",
            data: {
                user: { username: "", password: "", name: "" }
            },
            methods: {
                sava: function () {
                    $.ajax({
                        type: 'POST',
                        url: '/adduser',
                        data: this.user,
                        success: function (dataBack) {
                            if (dataBack.result == 0) {
                                layer.alert(dataBack.message, {
                                    icon: 2,
                                    skin: 'layer-ext-moon'
                                })
                            } else {
                                window.location.href = "/users";
                            }
                        },
                        error: function (error) {
                            layer.alert(error.status + error.statusText, {
                                icon: 2,
                                skin: 'layer-ext-moon'
                            })
                        }
                    });
                }
            }
        })
        //#endregion
    </script>

}